<div class="row ml-2 mr-2 mt-4 mb-4">
    <div class="col-sm-4">
        <div class="input-group has-validation">
            <div class="input-group-prepend">
                <button class="btn btn-dark" type="button">Referencia</button>
            </div>
            <input [(ngModel)]="napVO.referencia" type="text" class="form-control"
                [ngClass]="{'is-invalid':submitErrorMsg['referencia']}" placeholder="" aria-label=""
                aria-describedby="basic-addon1">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                El referencia es Obligatoria
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="input-group has-validation">
            <div class="input-group-prepend">
                <button class="btn btn-dark" type="button">Puerto PON</button>
            </div>
            <input [(ngModel)]="napVO.puerto" type="text" class="form-control "
                [ngClass]="{'is-invalid':submitErrorMsg['puerto']}" placeholder="" aria-label=""
                aria-describedby="basic-addon1">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                La Puerto PON es Obligatorio
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="input-group has-validation">
            <div class="input-group-prepend">
                <button class="btn btn-dark" type="button"># NAP</button>
            </div>
            <input [(ngModel)]="napVO.numero" type="text" class="form-control "
                [ngClass]="{'is-invalid':submitErrorMsg['numero']}" placeholder="" aria-label=""
                aria-describedby="basic-addon1">
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                La # NAP es Obligatori0
            </div>
        </div>
    </div>



    <div class="col-sm-12">
        <app-map-view (coordsChangeEvent)="coordsChangeEvent($event)" [punto]="napVO"></app-map-view>
        <div id="validationServerUsernameFeedback" class="invalid-feedback " [ngClass]="{'d-inline':submitErrorMsg['lat']}">
            La Ubicacion es Obligatoria
        </div>
    </div>

    <button (click)="close()" type="submit" class="btn btn-danger ml-1">Cancelar</button>
    <button (click)="guardarNap()" type="submit" class="btn btn-primary ml-1">Guardar</button>
</div>