<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisp</title>


</head>

<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <div class="elevation-3 mb-1">
                <img src="../../assets/img/logo2.png" alt="AdminLTE Logo" class="brand-image  ">
                <span class="brand-text font-weight-light">.</span>
            </div>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="torre" routerLinkActive="active">
                                <i class="fas fa-broadcast-tower"></i>
                                <p>
                                    Torre
                                </p>
                            </a>
                        </li>

                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="sector" routerLinkActive="active">
                                <i class="fas fa-wifi"></i>
                                <p>
                                    Sector
                                </p>
                            </a>
                        </li> -->

                        <li class="nav-item">
                            <a class="nav-link" routerLink="paquete" routerLinkActive="active">
                                <i class="fas fa-cubes"></i>
                                <p>
                                    Paquetes
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="cliente" routerLinkActive="active">
                                <i class="fas fa-users"></i>
                                <p>
                                    Clientes
                                </p>
                            </a>
                        </li>
                        <li class="nav-item menu-open">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Pagos
                                    <i class="fas fa-angle-left right"></i>

                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="pagos/agregar_pago" routerLinkActive="active" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Agregar Pagos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="pagos/pago_mes" routerLinkActive="active" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Pagos del mes</p>
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a routerLink="pagos/reporte_pago" routerLinkActive="active" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Reporte de pagos</p>
                                    </a>
                                </li>-->

                            </ul>
                        </li>
                        <li class="nav-item logout" (click)="logOut()">
                            <a class="nav-link">
                                <i class="fas fa-sign-out-alt"></i>
                                <p>
                                    Salir
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 2.0
            </div>
            <strong>Copyright &copy; 2019-2023 <a href="https://adminlte.io">BHDZIT</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
</body>

</html>