<script src="https://kit.fontawesome.com/015cfc4544.js" crossorigin="anonymous"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>NAPs</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">NAPs</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card ml-3 mr-3">
        <div class="card-header">
            <h3 class="card-title">Lista de NAPs</h3>

            <div class="card-tools">

                <div class="search-input mr-3">
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                            aria-describedby="basic-addon2" (keyup)="filtrado($event)" [(ngModel)]="filtradoTxt">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <button (click)="agregarNap()" type="button" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element;let i=index"> {{(paginator.pageIndex*paginator.pageSize)+
                        (i+1)}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="referencia">
                    <th mat-header-cell *matHeaderCellDef> Referencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="puerto">
                    <th mat-header-cell *matHeaderCellDef> Puerto </th>
                    <td mat-cell *matCellDef="let element"> {{element.puerto}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="numero">
                    <th mat-header-cell *matHeaderCellDef># NAP</th>
                    <td mat-cell *matCellDef="let element"> {{element.numero}}</td>
                </ng-container>

                <!-- Disclaimer column -->
                <ng-container matColumnDef="disclaimer">
                    <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
                        <h3> No se encontraron datos.</h3>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="editarNap(element)" type="button" class="btn btn-warning">
                            <i class="fas fa-pencil-alt"></i>
                        </button>

                        <button (click)="eliminarNap(element)" type="button" class="ml-1 btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-footer-row [ngClass]="{'d-none':dataSource.data.length!=0}" *matFooterRowDef="['disclaimer']"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator class="demo-paginator" [pageSize]="5" [pageSizeOptions]="[5,10,100]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->