::ng-deep .mdc-form-field label{
    padding-top: 8px;
}


.input-group i{
    cursor: pointer;
    position: relative;
    right: 25px;
    top: 10px;
}

.color-div{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}