<script src="https://kit.fontawesome.com/015cfc4544.js" crossorigin="anonymous"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sectores</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Sectores</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card ml-3 mr-3">
        <div class="card-header">
            <h3 class="card-title">Lista de Sectores</h3>



            <div class="card-tools">

                <div class="search-input mr-3">
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                            aria-describedby="basic-addon2" (keyup)="filtrado($event)" [(ngModel)]="filtradoTxt">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <button (click)="saveClick()" type="button" class="btn btn-warning mr-2">
                    <i class="fas fa-save"></i>
                </button>

                <button (click)="agregarSector()" type="button" class="btn btn-success">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element;let i=index">{{(paginator.pageIndex*paginator.pageSize)+
                        (i+1)}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> SSID </th>
                    <td (click)="selectedInput='ssid'+i" mat-cell *matCellDef="let element;let i=index">
                        <div [hidden]="selectedInput=='ssid'+i"> {{element.name}}</div>

                        <div [hidden]="selectedInput!='ssid'+i" class="input-group has-validation">
                            <input [(ngModel)]="element.name" type="text" class="form-control "
                                (blur)="selectedInput='';element.editada=true"
                                [ngClass]="{'is-invalid':submitErrorMsg['name']}" placeholder="" aria-label=""
                                aria-describedby="basic-addon1">
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                El SSID es Obligatoria
                            </div>
                        </div>

                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Antena </th>
                    <td (click)="selectedInput='tipoAntena'+i" mat-cell *matCellDef="let element;let i=index">
                        <div [hidden]="selectedInput=='tipoAntena'+i">
                            {{element.tipoAntena==true?'Sectorial':element.tipoAntena==false?'Omnidireccional':'--Seleccione'}}
                        </div>
                        <select [hidden]="selectedInput!='tipoAntena'+i" [(ngModel)]="element.tipoAntena"
                            class="form-control" aria-label="Default select example">
                            <option disabled [value]="null">--Seleccione</option>
                            <option [value]="false">Omnidireccional</option>
                            <option [value]="true">Sectorial</option>
                        </select>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
                    <td (click)="selectedInput='torre'+i" mat-cell *matCellDef="let element;let i=index">
                        <div [hidden]="selectedInput=='torre'+i">{{element?.Torre?.nombre}}</div>
                        <select [hidden]="selectedInput!='torre'+i" [(ngModel)]="element.torre" class="form-control"
                            aria-label="Default select example">
                            <option disabled [value]="null">--Seleccione</option>
                            <option *ngFor="let torre of listaDeTorres" [value]="torre.id">{{torre.nombre}}</option>

                        </select>
                    </td>

                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <button (click)="eliminar(element)" type="button" class="btn btn-danger  mr-2">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator class="demo-paginator" [pageSize]="5" [pageSizeOptions]="[5,10]"
            aria-label="Select page">
        </mat-paginator>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->