
  
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr7JKFrcZWgyyavyC476c_WOlL7GVUVKg"></script>
  <!-- Preloader -->
  <div id="preloader" class="preloader flex-column justify-content-center align-items-center d-none">
    <img class="animation__shake2" src="../assets/img/logo.png" alt="AdminLTELogo" >
  </div>
  <router-outlet ></router-outlet>
  