<script src="https://kit.fontawesome.com/015cfc4544.js" crossorigin="anonymous"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pagos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Agregar Pagos</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">



    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Agregar Pago</h3>
                </div>
            </div>
            <div class="card-header border-0 row">

                <div class="col-sm-6">
                    <mat-form-field class="example-full-width d-block">
                        <mat-label>Cliente</mat-label>
                        <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="clienteCtrl">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='seSelecionoCliente($event)'>
                            <mat-option [id]="cliente.id+''" *ngFor="let cliente of filteredCliente | async"
                                [value]="cliente.cliente">
                                <span>{{cliente.cliente}}</span> |
                                <small>Torre: {{cliente?.torresVO?.nombre}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div *ngIf="clienteSelecionado!=null"  class="col-2 col-md-1 ">
                    <mat-radio-group (change)="quitarReferecnia()" [(ngModel)]="esReferenciaCheck" aria-label="Select an option">
                        <mat-radio-button style="padding: unset;" [value]="false">Efectivo</mat-radio-button>
                        <mat-radio-button style="padding: unset;" [value]="true">Deposito</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="clienteSelecionado!=null&&esReferenciaCheck"  class="col-sm-3">
                    <div class="input-group has-validation">

                        <input #input placeholder="Referencia" type="text" class="form-control" (blur)="validarReferencia(input.value.toUpperCase())"
                            [value]="input.value.toUpperCase()" aria-label="" aria-describedby="basic-addon1">
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"></div>
                    </div>
                </div>


            </div>
            <div class="box ml-3 mr-5"></div>
            <div [ngClass]="{'d-none':clienteSelecionado==null}" class="card-header ">
                <div class="d-flex justify-content-between">
                    <h3 class="col-9 card-title">Realizar Pago <span class="text-danger">{{ultimoPagoStr}}</span></h3>
                    <div class="col-3">
                        <button (click)="agregarPagoNuevo()" class="btn btn-success pull-right mr-2" href=""><i
                                class="fas fa-plus" aria-hidden="true"></i></button>
                        <button (click)="realizarPago()" class="btn btn-success pull-right mr-2">Realizar pago</button>
                    </div>
                </div>
            </div>

            <div [ngClass]="{'d-none':clienteSelecionado==null}" class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mes</th>
                            <th>Paquete</th>
                            <th style="width: 80px">Costo</th>
                        </tr>
                    </thead>
                    <tbody id="payTable">
                        <tr *ngFor="let pago of listaDePagos;let i=index" id="payOptions">
                            <td style="width: 30px" (click)="eliminarPago(i)" class="eliminarPago">
                                <i id="eliminar" style="color:#F00;margin-top: 10px;" class="fas fa-minus-circle"
                                    aria-hidden="true">
                                </i>
                            </td>
                            <td class="todo-list ui-sortable">
                                <input type="month" class="form-control" [(ngModel)]="pago.mesPagado">
                            </td>
                            <td> <select class="form-control pkgClient" id="pkgClient" name="pkgClient1"
                                    [(ngModel)]="pago.paquete" (change)="cambioDePaquete($event,pago)">
                                    <option *ngFor="let pkg of listaDePaquetes" [value]="pkg.id">{{pkg.name}}</option>
                                </select> </td>

                            <td>
                                <p><b>$ {{pago.costo}}</b></p>
                            </td>
                        </tr>
                    </tbody>

                    <tbody class="d-none">
                        <tr id="depositRow">
                            <td colspan="3">
                                <!-- radio -->
                                <div class="form-group">
                                    <label class="">
                                        <div class="iradio_flat-blue checked" aria-checked="false" aria-disabled="false"
                                            style="position: relative;"><input type="radio" name="r3" class="flat-red"
                                                value="OXXO" checked="" style="position: absolute; opacity: 0;"><ins
                                                class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        OXXO
                                    </label>
                                    <label class="">
                                        <div class="iradio_flat-blue" aria-checked="false" aria-disabled="false"
                                            style="position: relative;"><input type="radio" name="r3" class="flat-red"
                                                value="BANAMEX" style="position: absolute; opacity: 0;"><ins
                                                class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        BANAMEX
                                    </label>
                                    <label class="">
                                        <div class="iradio_flat-blue" aria-checked="false" aria-disabled="false"
                                            style="position: relative;"><input type="radio" name="r3" class="flat-red"
                                                value="BANCOPPEL" style="position: absolute; opacity: 0;"><ins
                                                class="iCheck-helper"
                                                style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        BANCOPPEL
                                    </label>
                                </div>
                            </td>
                            <td colspan="2">
                                <input type="datetime-local" name="depositDate" id="depositDate"
                                    class="form-control pull-right" required="required">
                            </td>

                        </tr>
                    </tbody>
                    <thead class="d-none">
                        <tr>
                            <th colspan="3">Extras</th>
                            <th colspan="2">
                                <div class="form-group">
                                    <input type="button" id="btnAddNote" onclick="addNote()" style="margin-right: 10px;"
                                        class="btn btn-success pull-right" value="Agregar Nota" disabled="">
                                    <input type="button" onclick="addExtra()" style="margin-right: 10px;"
                                        class="btn btn-success pull-right" value="Agregar Extra">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="extratbody" >



                        <tr>
                            <td colspan="3"> <input placeholder="Desscripcion" class="form-control" name="descripcion1">
                            </td>
                            <td colspan="3"> <input onchange="setTotal()" placeholder="Costo"
                                    class="form-control extrasClient" name="costo1"> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><b>TOTAL : </b></td>
                            <td><b id="totalPay">$ {{totalEnPagos}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>