<script src="https://kit.fontawesome.com/015cfc4544.js" crossorigin="anonymous"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pagos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Agregar Pagos</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">



    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title">Agregar Pago</h3>
                </div>
            </div>
            <div class="card-header border-0 row">

                <div class="col-sm-6">
                    <mat-form-field class="example-full-width d-block">
                        <mat-label>Cliente</mat-label>
                        <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="clienteCtrl">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='seSelecionoCliente($event)'>
                            <mat-option [ngClass]="{'bg-warning':cliente.estatus == null}" [id]="cliente.id+''"
                                *ngFor="let cliente of filteredCliente | async" [value]="cliente.cliente">
                                <span>{{cliente.cliente}}</span> |
                                <small>Torre: {{cliente?.torresVO?.nombre}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div *ngIf="clienteSelecionado!=null" class="col-2 col-md-1 ">
                    <mat-radio-group (change)="quitarReferecnia()" [(ngModel)]="esReferenciaCheck"
                        aria-label="Select an option">
                        <mat-radio-button style="padding: unset;" [value]="false">Efectivo</mat-radio-button>
                        <mat-radio-button style="padding: unset;" [value]="true">Deposito</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="clienteSelecionado!=null&&esReferenciaCheck" class="col-sm-3">
                    <div class="input-group has-validation">

                        <input #input placeholder="Referencia" type="text" class="form-control"
                            (blur)="validarReferencia(input.value.toUpperCase())" [value]="input.value.toUpperCase()"
                            aria-label="" aria-describedby="basic-addon1">
                        <div id="validationServerUsernameFeedback" class="invalid-feedback"></div>
                    </div>
                </div>


            </div>
            <div class="box ml-3 mr-5"></div>
            <div [ngClass]="{'d-none':clienteSelecionado==null}" class="card-header ">
                <div class="d-flex justify-content-between row">
                    <h3 class="col-6 col-md-6  col-lg-8 card-title">Realizar Pago <span
                            class="text-danger">{{ultimoPagoStr}}</span></h3>
                    <div class="col-6 col-md-6 col-lg-4">
                        <button (click)="agregarExtra()" class="btn btn-info pull-right mr-2" href=""><i
                                class="fas fa-plus" aria-hidden="true"></i> Agregar Extra</button>
                        <button (click)="agregarPagoNuevo()" class="btn btn-primary pull-right mr-2" href=""><i
                                class="fas fa-plus" aria-hidden="true"></i> Agregar Pago</button>
                        <button (click)="realizarPago()" class="btn btn-success pull-right mr-2">Realizar pago</button>
                    </div>
                </div>
            </div>

            <div [ngClass]="{'d-none':clienteSelecionado==null}" class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mes</th>
                            <th>Paquete</th>
                            <th style="width: 80px">Costo</th>
                        </tr>
                    </thead>
                    <tbody id="payTable">
                        <tr *ngFor="let pago of listaDePagos;let i=index" id="payOptions">
                            <td style="width: 30px" (click)="eliminarPago(i)" class="eliminarPago">
                                <i id="eliminar" style="color:#F00;margin-top: 10px;" class="fas fa-minus-circle"
                                    aria-hidden="true">
                                </i>
                            </td>
                            <td class="todo-list ui-sortable">
                                <input type="month" class="form-control" [(ngModel)]="pago.mesPagado">
                            </td>
                            <td> <select class="form-control pkgClient" id="pkgClient" name="pkgClient1"
                                    [(ngModel)]="pago.paquete" (change)="cambioDePaquete($event,pago)">
                                    <option *ngFor="let pkg of listaDePaquetes" [value]="pkg.id">{{pkg.name}}</option>
                                </select> </td>

                            <td>
                                <p><b>$ {{pago.costo}}</b></p>
                            </td>
                        </tr>
                    </tbody>

                    <thead *ngIf="listaExtras.length>0">
                        <tr>
                            <th colspan="5">Extras</th>
                        </tr>
                    </thead>
                    <tbody id="extratbody">
                        <tr *ngFor="let extra of listaExtras;let i=index">
                            <td style="width: 30px" class="eliminarPago" (click)="eliminarExtra(i)">
                                <i id="eliminar" style="color:#F00;margin-top: 10px;" class="fas fa-minus-circle"
                                    aria-hidden="true">
                                </i>
                            </td>
                            <td colspan="2">
                                <input placeholder="Descripción" [(ngModel)]="extra.descripcion" class="form-control"
                                    [ngClass]="{'is-invalid':extra.descripcion==''&&isSubmit}" name="descripcion1">
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    La descripcion es requerida
                                </div>
                            </td>
                            <td>
                                <div class="d-flex"><label style="margin-top: 7px;"> $</label>
                                    <input placeholder="Costo" [(ngModel)]="extra.costo"
                                        [ngClass]="{'is-invalid':extra.costo==null&&isSubmit}"
                                        class="form-control extrasClient" name="costo1" (blur)="actualizarTotal()">
                                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                        El precio es requerido
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="3"><b>TOTAL : </b></td>
                            <td><b id="totalPay">$ {{totalEnPagos}}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>